<div class="jumbotron">
  <h2>Registration</h2>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">New registration</div>
    <div class="panel-body">
        <form #regForm="ngForm" (ngSubmit)="processForm()">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required ngModel>
              </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email" name="email" required ngModel>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
    </div>
  </div>