<div class="jumbotron">
    <h2>Users</h2>
  </div>

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.name}}</td>
        <td><code>{{user.email}}</code></td>
      </tr>
    </tbody>
  </table>