<div class="container">
  <div class="fun">
    {{title}}
  </div>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda, dignissimos. Voluptates nemo quod minus alias repellat
  obcaecati quas ab unde minima, nostrum tenetur excepturi harum optio, sapiente molestiae provident nesciunt.
 <app-register (newUser)="onNewUser($event)"></app-register>
<app-user-list [users]="users"></app-user-list>
</div>